/* body { */
    /* width: 100vw;
    height: 100vh; */
    /* background-image: url(../public/img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

html{
        background-image: url(/public/img.jpg);
            background-repeat: no-repeat;
            background-size: cover;
}

.gallery {
    display: flex;
    /* padding: 24px 156px; */
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    flex-wrap: wrap;
}

ul li {
    list-style: none;
    text-align: center;
    font-size: 40px;
}

ul li img {
    width: 360px;
    height: 200px;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 10px solid;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
    0% {
        border-color: black rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }

    33% {
        border-color: black black rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }

    66% {
        border-color: black black black rgba(255, 255, 255, 0);
    }

    100% {
        border-color: black black black black;
    }
}

.is-hidden {
    display: none;
}

.image-details {
    display: flex;
    flex-wrap: wrap;
    color: #7c6e6e;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.64px;
    justify-content: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.info-label {
    margin-bottom: 5px;
    font-weight: bold;
}

.info-value {
    font-weight: normal;
    margin-bottom: 5px;
}

input {
    width: 272px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #808080;
    padding-left: 16px;
    color: #808080;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.64px;
    background: #FFF;
}

button {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border-radius: 8px;
    background: #4E75FF;
    letter-spacing: 0.64px;
    border: none;
}

#form {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 15px;
}

button:hover {
    border-radius: 8px;
    background: #6C8CFF;
}

input:hover {
    border-radius: 4px;
    border: 1px solid #000;
}

input:active {
    border-radius: 4px;
    border: 1px solid #cbd3f2;
}

.title {
    margin-top: 300px;
}

#load-more-btn {
    margin: 0 auto 50px;
    width: 150px;
}

.gallery-item {
    background: #e4e6ed;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 3px 8px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(59, 61, 95, 0.08);
    width: auto;
}
